## This extra_head block doesn't work, just puts these links in the body...
<%block name="extra_head">
<script src="http://code.jquery.com/jquery.js"></script>
<script src="/assets/bootstrap/js/bootstrap.min.js"></script>
<link href="/assets/bootstrap/css/bootstrap.min.css" rel="stylesheet" media="screen" />
</%block>

<div id="${carousel_id}" class="carousel slide">
    <ol class="carousel-indicators">
    % for i in range(len(content)):
        % if i == 0:
            <li data-target="#${carousel_id}" data-slide-to="${i}" class="active"></li>
        % else:
            <li data-target="#${carousel_id}" data-slide-to="${i}"></li>
        % endif
    % endfor
    </ol>
    <div class="carousel-inner">
        % for i, image in enumerate(content):
            % if i == 0:
                <div class="item active"><img src="${image}" alt="" style="margin: 0 auto 0 auto;"></div>
            % else:
                <div class="item"><img src="${image}" alt="" style="margin: 0 auto 0 auto;"></div>
            % endif
        % endfor
    </div>
    <a class="left carousel-control" href="#${carousel_id}" data-slide="prev">&lsaquo;</a>
    <a class="right carousel-control" href="#${carousel_id}" data-slide="next">&rsaquo;</a>
</div>
