<!--
.. link: 
.. description: About me
.. tags: 
.. date: 2013/05/02 17:18:37
.. title: About
.. slug: about
-->

<h2>Contact</h2>
<p>You can email the administrator address <a href="mailto:admin@ddevnet.net">admin@ddevnet.net</a></p>
<p>You can email me at <a href="mailto:devine@ddevnet.net">devine@ddevnet.net</a> or <a href="mailto:daniel.devine2@griffithuni.edu.au">daniel.devine2@griffithuni.edu.au</a></p>
<p>Else you can chat to me on Identi.ca as DDevine, Twitter @DDevine_au, or on IRC as DDevine (on Freenode and OFTC).</p>

<h2>Daniel Devine</h2>
<p>I live in Brisbane, QLD, Australia and I am currently studying Software Engineering. I also have a Cert IV in IT (Networking) and two years experience in the IT Industry doing desktop and server support/administration.</p>
<p>Back in 2002 games were the hook for my interest in</p>
<p>computers and it led to my tweaking of hardware and software.</p>
<p>I have a lot of different interests within Free/Open Source Software and you can find out more about these from my projects page, wiki and social media.</p>
<p>My resume is available on request.</p>
<p><img src="/blog_images/meandlinus.jpg" alt="Linus and I" height="301" width="450"></p>
<p><br> <img src="https://linuxcounter.net/cert/474136.png" alt="Linuxcounter #474136" height="100" width="300">
